// Item Title Font
@font-face {
  font-family: 'Upheaval';
  src: url('upheaval.ttf') format('truetype'),
    url('upheaval.woff') format('woff'),
    url('upheaval.woff2') format('woff2'),
    url('upheaval.eot?#iefix') format('embedded-opentype');
}

// Menu Font
@font-face {
  font-family: 'IsaacGame';
  src: url('IsaacGame.ttf') format('truetype');
}

@mixin font-upheaval {
    font-family: Upheaval, Arial, sans-serif;
    // pixelize font
    -webkit-font-smoothing : none;
}

@mixin font-isaac {
    font-family: IsaacGame, Arial, sans-serif;
}

@mixin font_outline {
    color: white;
    // outline
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000,
                 -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

