.item-modal-image{
    height: 128px;
    width: 128px;
    text-align: center;
    display: inline-block;
}

.pixel-image{
    image-rendering: pixelated;
}

.image-container{
    width: 100%;
}

.item-modal-header{
    text-align: center;
    width: 100%;
}

.modal-btn-close{
    float: right;
}

.item-altar{
    width: 108px;
    height: 96px;
}

// ANIMATIONS

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}