// ITEM GRID + CARDS

@mixin upheaval {
    font-family: Upheaval, Arial, sans-serif;
    color: white;
    // pixelize font
    -webkit-font-smoothing : none;
    // outline
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000,
                 -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
}

.item-card {
    position: relative;
    cursor: pointer;
    height: 128px;
    width: 128px;
}

.item-card-title {
    @include upheaval;

    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    line-height: 1.25rem;
    text-align: center;
    opacity: 0;
    transition: opacity .25s;
}

.item-card:hover .item-card-title {
    opacity: 1;
}

// ITEM MODAL

.item-modal-title {
    @include upheaval;

    font-size: 3rem;
    line-height: 2rem;
    text-align: center;
}

.item-modal-tagline {
    text-align: center;
}

// Old item styles

.item-modal-image{
    height: 128px;
    width: 128px;
    text-align: center;
    display: inline-block;
}

.pixel-image{
    image-rendering: pixelated;
}

.image-container{
    width: 100%;
}

.item-modal-header{
    text-align: center;
    width: 100%;
}

.modal-btn-close{
    float: right;
}

.item-altar{
    width: 108px;
    height: 96px;
}

// ANIMATIONS

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}